.container {
    display: block;
    max-width: 750px;
    margin: 0 auto;
}

.blog-item {
    border: 1px solid #eee;
}

.blog-item:hover .image {
    transform: scale(1.1);
}

.image-holder {
    overflow: hidden;
}

.image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: bottom;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.blog-post-content {
    text-align: justify;
}

.blog-post-content blockquote {
    padding: 15px 20px;
    margin: 20px 0;
    font-size: 1em;
    border-left: 2px solid #d8d8d8;
    font-style: italic;
}

@media only screen and (max-width: 991px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}
