.header {
    position: fixed;
    width: 22%;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 0 0;
    background-color: #fff;
    overflow: auto;
    z-index: 11;
    display: flex;
    flex-direction: column;
}

.header * {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header .header-content {
    position: relative;
    padding-bottom: 50px;
    flex: 1;
}

.header-image {
    position: relative;
    margin: 20px auto;
    text-align: center;
    z-index: 0;
}

.site-title-block {
    position: relative;
    z-index: 1;
    margin: 20px 20px 10px;
    text-align: center;
}

.site-title {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2em;
    color: #333333;
    letter-spacing: 0px;
    margin: 20px 0 0 0;
}

.dl-menuwrapper {
    width: 100%;
    float: left;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
}

.site-nav {
    display: block;
    position: relative;
    padding: 25px 0 40px;
}

.dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.site-main-menu li a, .site-main-menu li a:hover {
    display: block;
    position: relative;
    padding: 10px 20px;
    text-align: center;
    color: #222;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid #f5f5f5;
    outline: none;
}

.site-main-menu li a, .site-main-menu li a:hover {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.85em;
    color: #333333;
    letter-spacing: 0px;
}

.site-main-menu li a:hover, .site-main-menu li.active a, .site-main-menu li.current-menu-item a {
    background-color: #fcfcfc;
}

.site-main-menu li a:hover, .site-main-menu li.active a, .site-main-menu li.current-menu-item a, .dl-back > a {
    background-color: #fcfcfc;
}

.site-main-menu:not(.dl-menu) li:first-child a, .kerge-classic-menu > li:first-child > a {
    border-top: 1px solid #f5f5f5;
}

.site-main-menu:not(.dl-menu) li:first-child a, .kerge-classic-menu > li:first-child a, .site-main-menu li a, .site-main-menu li a:hover {
    border-color: #f5f5f5;
}

.site-main-menu li a:after, .site-main-menu li a:after, .site-main-menu li a:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 2px;
    height: 100%;
    margin: 0 auto;
    background-color: #eee;
    opacity: 0;
    -webkit-transition: all 0.18s ease-out;
    -moz-transition: all 0.18s ease-out;
    transition: all 0.18s ease-out;
}

.site-main-menu li a:after, .site-main-menu li a:after {
    background-color: #0099e5;
    opacity: 0;
}

.site-main-menu li a:hover:after, .site-main-menu li.active a:after, .site-main-menu li.current-menu-item a:after {
    opacity: 1;
}

.header .copyrights {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px 15px;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    color: #aeaeae;
}

.menu-toggle {
    display: block;
    width: 50px;
    margin: 0 4px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    float: right;
    border: 0;
    padding: 0;
    font-size: 20px;
    background: transparent;
    outline: 0;
}

@media only screen and (min-width: 991px) {
    .header {
        width: 160px;
    }
}

@media only screen and (max-width: 991px) {
    .header {
        width: 100%;
        max-width: 320px;
        height: calc(100% - 50px);
        left: 0;
        top: 50px;
        z-index: 1001;
        opacity: 1;
        overflow: auto;
        visibility: visible;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.18);
        -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.18);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.18);
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        -o-transition: all 0s ease-in-out;
        -ms-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out;
    }

    .mobile-menu-hide {
        width: 0;
        left: 0;
        margin-left: -100%;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .header.animate {
        -webkit-transition: all 0.44s ease-in-out;
        -moz-transition: all 0.44s ease-in-out;
        -o-transition: all 0.44s ease-in-out;
        -ms-transition: all 0.44s ease-in-out;
        transition: all 0.44s ease-in-out;
    }

    .mobile-header {
        position: fixed;
        display: inline-block;
        width: 100%;
        max-width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #f5f5f5;
        left: 0;
        right: 0;
        height: 50px;
        z-index: 1002;
    }

    .mobile-logo-container {
        margin: 0 20px;
        text-align: left;
        float: left;
        display: flex;
        align-items: center;
    }

    .mobile-header-image {
        float: left;
        margin-right: 10px;
    }

    .mobile-header-image img {
        max-height: 34px;
    }

    .mobile-site-title {
        float: left;
        color: #222;
        font-size: 18px;
        font-weight: 600;
        font-family: Poppins,Helvetica,sans-serif;
        margin: 0;
        line-height: 50px;
    }

    .mobile-site-title a, .mobile-site-title a:focus, .mobile-site-title a:hover {
        color: #222;
    }
}
